<h1 mat-dialog-title>{{ formTitle }}</h1>
<form [formGroup]="clientForm" class="form-container">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Prenom</mat-label>
    <input matInput formControlName="prenom" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Adresse</mat-label>
    <input matInput formControlName="adresse" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>CIN</mat-label>
    <input matInput formControlName="CIN" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Telephone</mat-label>
    <input matInput formControlName="telephone" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>
  <button mat-button (click)="closeForm()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()">{{ btnText }}</button>
</form>

