<!-- Toolbar -->
<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button aria-label="Menu icon">
    <mat-icon class="custom-icon">
      <img src="https://media.licdn.com/dms/image/v2/D4D0BAQFY1J4AxH5qWQ/company-logo_200_200/company-logo_200_200/0/1705561846731/addinn_logo?e=2147483647&v=beta&t=2MVZNUtXkXXs8yhfH0H6WX8jzM3dFuYGqQjHe7rmkNo" alt="Logo Addinn">
    </mat-icon>
  </button>
  <span>  {{ title }}</span>
  <span class="spacer"></span>
</mat-toolbar>


<!-- Router Outlet -->
<router-outlet></router-outlet>